h1(
  color: #ff0000;
  font-size:40px;
  font-family:serif;
  color: #e6855e;
  font size: 30px;
  background-color: #f3f372;
  height:80px;
  width:200px;
  }
  img(
    height:50px;
  width: 70px;
    )
  p{
